h1, p {
  color: #2a3a3c;
}

body {
  background-color: #f7f5f5;
}

.jumbotron {
  text-align: center;
  background-color: #2a3a3c;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 10px;
}

.collum {
  background: rgb(233,236,239);
  border-radius: 25px;
  border: 1px solid #ef5026;
  padding: 20px;
}

.nav {
  margin-bottom: 32px;
}

img {
  display: block;
  border:1px solid #ef5026;
  border-radius: 50%;
  margin: auto;
  width: 60%;
  height: auto;
}

#name {
  text-align: center;
  padding: 10px 5px 10px 5px;
}

#first_name {
  color: #ef5026;
}

#pagename {
  color: #ef5026;
}
